<h3><%= @player_two.name %>:  "Player 2 takes damage!" </h3>
<h4> Player 2: <%= @player_two.hitpoints %>hp </h4>
<button type="button"><a href="http://localhost:9292/play"> "Player 2, your turn!" </a></button>
