 
 <%= @player_one %> <br>
 <%= @player_one %>: 50hp <br>
vs <br>
<%= @player_two %> <br>
<%= @player_two %>: 50hp
<form>
  <button type="button"><a href= "http://localhost:9292/attack"> "Attack!"</a></button>      
  <button type="button">"Paralyse"</button>      
  <button type="button">"Sleep, zzz"</button>      
  <button type="button">"Poison @_@"</button>      
  <button type="button">"Heal <3"</button>      
</form>
